@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dawid Szczutkowski
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/dszczutkowski">github.com/dsczutkowski</a><br />
    <strong>Mail:</strong> <a href="mailto:dszczutkowski@outlook.com">dszczutkowski@outlook.com</a>
</address>