@{
    ViewBag.Title = "Strona Główna";
}

<div class="bg"/>

<div class="jumbotron">
    <h1>Technologie .NET<br></h1>
    <p class="lead">Projekt MVC ASP.NET na Technologie .NET<br><br>Autor: Dawid Szczutkowski<br><br /></p>
    <p><a href="../Posilki/Nazwy" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-cutlery"></span>&nbsp;Posiłki &raquo;</a></p>
    <p><a href="../Zamowienia" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Zamówienia &raquo;</a></p>

</div>
